* {
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial,
    sans-serif, Apple Color Emoji, Segoe UI Emoji;
}

a {
  display: inline-block;
  color: #0366d6;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

h1,
ul {
  margin-block-start: 0em;
  margin-block-end: 0em;
}
