html, body {
    margin: 0;
    font-size: large;
}
h1, ul {
    margin-block-start: 0em;
    margin-block-end: 0em;
}
#app-name {
    font-weight: lighter;
    padding: 5%;
    background-color: #fff;
}

.container {
    display: flex;
    height: 100vh;
}

.item {
    background: #ddd;
}

#nav{
    width: 20%;
}

a {
    text-decoration: none;
}

a:hover{
    text-decoration: underline;
}

h2 {
    margin-block-start: 0em;
    color: #bdc3c7;
}

a {
    color: #2c3e50;
    padding-left: 1rem;
    padding-right: 1rem;
}

#nav {
    overflow: auto;
    background-color: #333;
}

#nav ul {
    padding-inline-start: 0px
}

#nav li{
    cursor: pointer;
    list-style:none;
    color: #eee;
    font-weight: bold;
    font-size: xx-large;
    padding: 10%;
}
#nav li:hover{
    color: #fff;
    text-decoration: underline;
}
#nav li:nth-child(1) {
    background: #f39c12;
}
#nav li:nth-child(2) {
    background: #8e44ad;
}
#nav li:nth-child(3) {
    background: #c0392b;
}
#nav li:nth-child(4) {
    background: #2980b9;
}
#nav li:nth-child(5) {
    background: #16a085;
}

#detail{
    width: 80%;
    background: #fff;
    background-size: 25%;
    background-repeat: no-repeat;
    background-position: top 0 right 0;
    background-image: url("/images/inclusion.png");
    padding: 3%;
    padding-right: 25%;
}

.note {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 20px;
}
