html, body {
    margin: 0;
    font-size: large;
}

.app-name {
    padding-left: 3%;
    padding-right: 3%;
}

.container {
    display: flex;
    height: 100vh;
}

.item {
    background: #ddd;
}

#nav{
    width: 20%;
}

a {
    text-decoration: none;
}

a:hover{
    text-decoration: underline;
}

h2 {
    color: #bdc3c7;
}

a {
    color: #2c3e50;
    padding-left: 1rem;
    padding-right: 1rem;
}

#nav {
    overflow: auto;
}

#nav ul {
    padding-inline-start: 0px
}

#nav li{
    cursor: pointer;
    list-style:none;
    color: #fff;
    font-weight: bold;
    padding: 3%;
    padding-top: 30%;
}
#nav li:nth-child(1) {
    background: #f39c12;
}
#nav li:nth-child(2) {
    background: #8e44ad;
}
#nav li:nth-child(3) {
    background: #c0392b;
}
#nav li:nth-child(4) {
    background: #2980b9;
}
#nav li:nth-child(5) {
    background: #2c3e50;
}

#detail{
    width: 80%;
    background: #eee;
    padding: 3%;
}