html, body {
    margin: 0;
    font-size: large;
}

.app-name {
    padding-left: 3%;
    padding-right: 3%;
}

.container {
    display: flex;
    height: 100vh;
}

.item {
    background: #ddd;
}

#nav{
    width: 20%;
}

#nav ul {
    padding-inline-start: 0px
}

#nav li{
    cursor: pointer;
    list-style:none;
    color: #fff;
    font-weight: bold;
    /* line-height: 2rem; */
    padding: 3%;
}

#nav li:nth-child(2) {
    background: #8e44ad;
}
#nav li:nth-child(3) {
    background: #c0392b;
}
#nav li:nth-child(1) {
    background: #f39c12;
}

#detail{
    width: 80%;
    background: #eee;
    padding: 3%;
}