.main {
	overflow-y: visible;
}
.site-logo {

    width: 10vmin;
    height: 10vmin;
    
}

.site-logo__wrap {
	padding: 3vmin 0;
	width: 100%;	
}

.site-nav .site-nav__el {
	font-size: 0.9rem;
}

.index-posts .index-posts__list {
	font-size: 0.9rem;
}
