html, body {
    margin: 0;
    padding: 0;
    background-color: #333;
}


p, ul {
    margin-block-start: 0em;
    margin-block-end: 0em;
}


body {
    position: relative;
    padding-top: 20px;
    background-color: #fff;
    padding-bottom: 20px;
    padding-left: 80px;
    padding-right: 80px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    margin-bottom: 30px;
    width: 840px;
    height: 1188px;
}
h1 {
    text-align: center;
    margin-block-start: 0em;
    margin-block-end: 0em;
    font-weight: normal;
    font-size: 2.8em;
}
.title {
    font-size: 1.4em;
    border-bottom: 1px solid #333;
    line-height: 0.8em;
    margin-top: 1.2em;
    margin-bottom: 0.3em;
    font-weight: bold;
}
.info {
    font-size: 0.8em;
}

.engineer {
    text-align: center;
    font-size: 0.8em;
}
.lighter {
    font-weight: lighter;
}
b {
    font-weight: bold;
}
.fr {
    float: right;
}
.center {
    text-align: center;
}
p {
    margin-block-start: 0em;
    margin-block-end: 0em;
    line-height: 1.8em;
}
.red {
    color: #b00;
}
ul {
    padding-inline-start: 20px;
    line-height: 1.8em;
}

.footer {
    font-size: 0.8em;
}

.footer {
    position: absolute;
    bottom: 60px;
    left: 80px;
}
.foot-mid {
    width: 100%; left: 0px;
}
